* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, sans-serif;
  background: linear-gradient(to bottom, hsl(0, 0%, 100%),hsl(118, 49%, 78%), hsl(0, 0%, 100%));
}

#root {
  width: 100%;
  min-height: 100vh; 
}

h1 {
  font-size: 28px;
  margin: 20px 0;
}